.nav-horse {
    background-color: black !important;
    border-bottom-width: 0 !important;
    padding: 8px 16px;
}

.d-inline-block {
    display: inline-block !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.navbar-brand {
    font-family: Hack, monospace;
    font-size: 2rem;
    opacity: 1;
    height: 40px;
    color: white !important;
}

.navbar-toggle {
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}

.navbar-nav>li>a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.horse-mane, .horse-face, .horse-ears, .horse-outline, .horse-teeth-eye {
    transition-property: fill;
    transition-duration: 200ms;
    transition-timing-function: ease;
    fill: transparent !important;
}

.horse-nose {
    fill: black !important;
}

.horse-outline {
    fill: white !important;
}

.navbar-brand:hover .horse-face {
    fill: #9e6037 !important;
}

.navbar-brand:hover .horse-mane {
    fill: #eae6e3 !important;
}

.navbar-brand:hover .horse-teeth-eye {
    fill: white !important;
}

.navbar-brand:hover .horse-ears {
    fill: #633b22 !important;
}

.navbar-brand:hover .horse-outline {
    fill: #1f1f1f !important;
}

.brand-icon, .brand-icon svg {
    height: 40px;
    width: 47px;
}

.brand-marker {
    opacity: 0;
    margin-left: -0.6em;
}

.navbar-brand:hover .brand-marker{
    animation-name: marker_blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1,-0.01,0,1);
}

.docs-text {
    border-left: 2px solid white;
    padding-left: 0.73em;
    margin-left: -0.5em;
}

@media (min-width: 768px) {
    .container {
        width:720px !important;
    }
}

@media (min-width: 992px) {
    .container {
        width:960px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        width:1140px !important;
    }
}

@keyframes marker_blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}